      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Cost Benefit Analysis Tool
            <small>Server, Storage and Network</small>
          </h1>
          <ol class="breadcrumb">
            <li><a ui-sref="app.main"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="box box-success">
                  <div class="box-body">

                    <div class="table-responsive">
                      <table class="table no-margin">
                        <thead>
                          <tr>
                            <th></th>                          
                            <th>2015</th>
                            <th>2016</th>
                            <th>2017</th>
                            <th>2018</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><h5>Servers</h5></td>
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="11" disabled>
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td> 
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Amount">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td> 
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Amount">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td> 
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Amount">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td>                                                         
                          </tr>
                          <tr>
                            <td><h5>Storage</h5></td>
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Amount">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td> 
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Amount">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td> 
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Amount">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td> 
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Amount">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td>                                                         
                          </tr>
                          <tr>
                            <td><h5>Network</h5></td>
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Amount">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td> 
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Amount">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td> 
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Amount">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td> 
                            <td>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Cost">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Amount">
                              </div>
                              <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Total">
                              </div>                                                            
                            </td>                                                         
                          </tr>


                        </tbody>
                      </table>
                    </div><!-- /.table-responsive -->

                  </div>
                </div>
            </div>
        </section>
      </div>