      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{user.name}}'s Dashboard
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a ui-sref="app.main"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="box box-success">
                  <div class="box-header with-border">
                    <h3 class="box-title">Total Cost for All Data Centers</h3>
                    <div class="box-tools pull-right">
                      <div class="btn-group"></div>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                      <div class="chart">
                        <!-- Chart Canvas -->
                        <canvas id="line" class="chart chart-line" chart-series="series" chart-options="mainChart.options" chart-data="mainChart.data" chart-labels="mainChart.labels" chart-colours="mainChart.colors" height="100"></canvas>
                      </div><!-- /.chart-responsive -->
                  </div><!-- ./box-body -->
                  <div class="box-footer">
                    <div class="row">

                      <div class="col-sm-6 col-xs-12 border-right">
                        <div class="info-box bg-green">
                          <span class="info-box-icon"><i class="ion ion-social-usd"></i></span>
                          <div class="info-box-content">
                            <span class="info-box-text"><h4>Cost Per Server</h4></span>
                            <div class="progress">
                              <div class="progress-bar" style="width: 0%"></div>
                            </div>                            
                          </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->     
                          <div class="table-responsive">
                            <table st-table="allQuarterlyCostData" class="table table-striped">
                              <thead>
                              <tr>
                                <th>Data Center</th>
                                <th>Location</th>
                                <th st-sort="totalCost" st-skip-natural="true" st-sort-default="true" class="text-right">Cost Per Server</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr ng-repeat="row in allQuarterlyCostData | limitTo:5">
                                <td><a>{{row.dataCenterId}}</a></td>
                                <td>{{row.location}}</td>
                                <td class="text-right">{{row.totalCost | currency}}</td>
                              </tr>
                              </tbody>
                            </table>                          
                          </div><!-- /.table-responsive -->

                      </div><!-- /.col -->
                      <div class="col-sm-6 col-xs-12 border-right">
                        <div class="info-box bg-yellow">
                          <span class="info-box-icon"><i class="ion ion-flash"></i></span>
                          <div class="info-box-content">
                            <span class="info-box-text"><h4>Efficiency Per Server</h4></span>
                            <div class="progress">
                              <div class="progress-bar" style="width: 0%"></div>
                            </div>                            
                          </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                          <div class="table-responsive">
                            <table st-table="allQuarterlyElectricData" class="table table-striped">
                              <thead>
                              <tr>
                                <th>Data Center</th>
                                <th>Location</th>
                                <th st-sort="averageElectricityUsage" st-skip-natural="true" st-sort-default="reverse" class="text-right">Efficiency Per Server</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr ng-repeat="row in allQuarterlyElectricData | limitTo:5">
                                <td><a>{{row.dataCenterId}}</a></td>
                                <td>{{row.location}}</td>
                                <td class="text-right">{{row.averageElectricityUsage | number:0}} kWh</td>
                              </tr>
                              </tbody>
                            </table> 
                          </div><!-- /.table-responsive -->

                      </div><!-- /.col -->

                    </div><!-- /.row -->
                  </div><!-- /.box-footer -->
                </div><!-- /.box -->
              </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
              <div class="col-md-6">
                <div class="box box-danger">
                  <div class="box-header with-border">
                    <h3 class="box-title">Storage Used</h3>
                    <div class="box-tools pull-right">
                      <div class="btn-group"></div>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="chart-responsive">
                          <canvas id="line" class="chart chart-bar" chart-legend="true" chart-series="storageChart.series" chart-data="storageChart.data" chart-labels="storageChart.labels" chart-colours="storageChart.colors" height="200"></canvas>
                        </div><!-- ./chart-responsive -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- ./box-body -->
                  <div class="box-footer">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="description-block border-right">
                          <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 4 TB</span>
                          <h5 class="description-header">681 TB</h5>
                          <span class="description-text">AVAILABLE STORAGE</span>
                        </div><!-- /.description-block -->
                      </div><!-- /.col -->                    
                      <div class="col-sm-6">
                        <div class="description-block">
                          <span class="description-percentage"><i class="fa fa-caret-left"></i> 0 TB</span>
                          <h5 class="description-header">2034 TB</h5>
                          <span class="description-text">TOTAL STORAGE</span>
                        </div><!-- /.description-block -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- /.box-footer -->
                </div><!-- /.box -->
              </div><!-- /.col -->
              <div class="col-md-6">
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">Servers By Type</h3>
                    <div class="box-tools pull-right">
                      <div class="btn-group"></div>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="chart-responsive">
                          <canvas id="line" class="chart chart-line" chart-legend="true" chart-series="serverChart.series" chart-data="serverChart.data" chart-labels="serverChart.labels" chart-colours="serverChart.colors" height="200"></canvas>
                        </div><!-- ./chart-responsive -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- ./box-body -->
                  <div class="box-footer">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="description-block">
                          <span class="description-percentage text-red"><i class="fa fa-caret-up"></i> 1</span>
                          <h5 class="description-header">750</h5>
                          <span class="description-text">TOTAL SERVERS</span>
                        </div><!-- /.description-block -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- /.box-footer -->                  
                </div><!-- /.box -->
              </div><!-- /.col -->

            </div><!-- /.row -->

            <div class="row">
              <div class="col-md-6">
                <div class="box box-warning">
                  <div class="box-header with-border">
                    <h3 class="box-title">Total Electricity Used</h3>
                    <div class="box-tools pull-right">
                      <div class="btn-group"></div>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="chart-responsive">
                        <canvas id="doughnut" class="chart chart-doughnut" chart-options="energyChart.options" chart-legend="true" chart-data="energyChart.data" chart-labels="energyChart.labels"></canvas>
                        </div><!-- ./chart-responsive -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- ./box-body -->
                  <div class="box-footer">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="description-block">
                          <span class="description-percentage text-green"><i class="fa fa-caret-down"></i> 300</span>
                          <h5 class="description-header">17,000 kWh</h5>
                          <span class="description-text">ELECTRICTY USED</span>
                        </div><!-- /.description-block -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- /.box-footer -->   
                </div><!-- /.box -->
              </div><!-- /.col -->
              <div class="col-md-6">
                <div class="box box-success">
                  <div class="box-header with-border">
                    <h3 class="box-title">Total FTE Cost</h3>
                    <div class="box-tools pull-right">
                      <div class="btn-group"></div>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="chart-responsive">
                          <canvas id="doughnut" class="chart chart-doughnut" chart-options="fteChart.options" chart-legend="true" chart-data="fteChart.data" chart-labels="fteChart.labels"></canvas> 
                        </div><!-- ./chart-responsive -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- ./box-body -->
                  <div class="box-footer">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="description-block">
                          <span class="description-percentage text-green"><i class="fa fa-caret-down"></i> $17,260</span>
                          <h5 class="description-header">$2,927,598</h5>
                          <span class="description-text">TOTAL FTE COST</span>
                        </div><!-- /.description-block -->
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- /.box-footer -->                  
                </div><!-- /.box -->
              </div><!-- /.col -->

            </div><!-- /.row -->

            <div class="row"><!-- /row -->
              <div class="col-md-12">
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Recent Activity</h3>
                    <div class="box-tools pull-right">
                      <div class="btn-group"></div>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th>Timestamp</th>
                            <th>Data Center Id</th>
                            <th>Data Center Name</th>
                            <th>Activity</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>March 10, 2001, 5:16 pm</td>
                            <td>FDCCI-DC-45747</td>
                            <td>5R-MN0902</td>
                            <td>Added Q3 2015 Entry</td>
                          </tr>
                          <tr>
                            <td>March 10, 2001, 5:16 pm</td>
                            <td>FDCCI-DC-45747</td>
                            <td>5R-MN0902</td>
                            <td>Added Q3 2015 Entry</td>
                          </tr>
                          <tr>
                            <td>March 10, 2001, 5:16 pm</td>
                            <td>FDCCI-DC-45747</td>
                            <td>5R-MN0902</td>
                            <td>Added Q3 2015 Entry</td>
                          </tr>
                          <tr>
                            <td>March 10, 2001, 5:16 pm</td>
                            <td>FDCCI-DC-45747</td>
                            <td>5R-MN0902</td>
                            <td>Added Q3 2015 Entry</td>
                          </tr>                                                                              
                          </tbody>
                        </table>                                                 
                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div><!-- ./box-body -->
                </div><!-- /.box -->
              </div><!-- /.col -->
            </div><!-- /.row -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

